## GLOBAL
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.log

## Default docker-compose
/nbproject/private/

### other ###
/.vagrant
/.sonar

### Netbeans ###
/nbproject

### phpstorm ###
/.idea

### data ###
/data

### patternlab ###
/patternlab

### vendor ###
/vendor

### build ###
/build
