#!/bin/sh

read -p "Are you sure you want to reset all data from the project ? (y/n) " RESP
if [ "$RESP" = "y" ]; then
  echo "0- Clears all metadata cache for an entity manager"
  php app/console doctrine:cache:clear-metadata
  echo "1- Clears all query cache for an entity manager"
  php app/console doctrine:cache:clear-query
  echo "2- Clears result cache for an entity manager"
  php app/console doctrine:cache:clear-result
  echo "3- Drops the configured databases"
  php app/console doctrine:database:drop --force
  php app/console doctrine:database:create
  echo "4- Executes (or dumps) the SQL needed to generate the database schema"
  php app/console doctrine:schema:update --force
  echo "5- Load data fixtures to your database."
  php app/console doctrine:fixtures:load 
  echo "6-  Dumps all assets to the filesystem"
  php app/console assetic:dump
  echo "7-  Installs bundles web assets under a public web directory"
  php app/console assets:install
  echo "8- Reset project cache"
  php app/console cache:clear --env=prod --no-debug
  php app/console cache:clear --env=dev --no-debug
else
  echo "Canceled"
fi
