parameters:
    database_driver:   "%%database.type.env%%"
    database_host:     "%%database.host.env%%"
    database_port:     "%%database.port.env%%"
    database_name:     "%%database.name.env%%"
    database_user:     "%%database.user.env%%"
    database_password: "%%database.password.env%%"

    test_database_driver:   "%%test.database.type.env%%"
    test_database_host:     "%%test.database.host.env%%"
    test_database_port:     "%%test.database.port.env%%"
    test_database_name:     "%%test.database.name.env%%"
    test_database_user:     "%%test.database.user.env%%"
    test_database_password: "%%test.database.password.env%%"     
    test_database_path:     %%test.database.path%%

    mailer_transport:  sendmail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en_GB
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    # memcache params
    session_memcache_host: memcached # 127.0.0.1
    session_memcache_port: 11211 # 11211
    session_memcache_prefix: sess_memcache_
    session_memcache_expire: 604800 
    session_memcache_locking: true
    session_memcache_spin_lock_wait: 150000
    session_memcache_lock_max_wait: 30
    
    #pi_app_admin 
    pi_cookie_lifetime: 604800    
    pi_session_name: "SFYNXSESSID"

    #boot_strap_ws
    ws_key: 0A1TG4GO
    
    #esi key
    esi_key: 9eu9ghv9 
    
    #WSSE cache dir
    wsse_cache_dir: "%kernel.cache_dir%/security/nonces"